<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Tutorial</title>
  </head>
  <body>
    <h1>Welcome !!</h1>
    <h3><%= 12*19 %></h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis
      eius quo labore sunt possimus minus at asperiores ipsum qui, molestias
      corrupti impedit cum earum dolores temporibus rem ipsa aliquam dolorem!
    </p>
    <button>click me</button>
  </body>
</html>
